#
# Cypress touchkey configuration
#

config KEYBOARD_CYPRESS_SAMMY_CM9
	tristate "Cypress touchkey support fo Sammy and CM9"
	default y
	select TOUCHKEY_BLN
	---help---
	  Say Y here to enable the cypress touchkey.

config KEYBOARD_CYPRESS_AOKP
        tristate "Cypress touchkey support for AOKP"
	depends on !KEYBOARD_CYPRESS_SAMMY_CM9
        ---help---
          Say Y here to enable the cypress touchkey.

config TOUCHKEY_BLN
	bool "BLN Support"
	depends on KEYBOARD_CYPRESS_SAMMY_CM9
	---help---
	  BLN support.

